*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.dat
*.log
*.lck

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/AAW_Project/nbproject/
/AAW_Project/build/
/AAW_Project/dist/
/AAW_Project_EJB/AAW_Project_EJB-ejb/build/
/AAW_Project_EJB/AAW_Project_EJB-war/build/
/AAW_Project_EJB/build/
/AAW_Project_EJB/AAW_Project_EJB-ejb/dist/
/AAW_Project_EJB/AAW_Project_EJB-war/dist/